<div class="container">

  <div class="references-page-header">
    References
    <hr style="margin-top:80px">
  </div>

  <div style="width: 100%;text-align: center;">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTA57-R2x1okGkeoREkWpngNBSxiPbQSSVoIpwG6xcUXG9gxPxbFod6d7Rqbk8nEkkI9nVqHvvjDK0N/pub?embedded=true" class="flow-chart-img"></iframe>
  </div>

 <!--
  <h2>Citations</h2>
  <p>Ackerman, E. (2021, June 24). Microsoft announces experimental release of ROS for windows 10. Retrieved November 3, 2022, from https://spectrum.ieee.org/microsoft-announces-experimental-release-of-ros-for-windows-10</p>
  <p>Belfore, L. (jul 8, 2022). Software Design Report for the ODU Monarch I (Vol. 1.3, p. 3, Tech.).</p>
  <p>Cardona, M., & Manzanares, J. (2020). COVID-19 Pandemic Impact on Mobile Robotics Market (pp. 1-4) (A. Palma, Ed.). IEEE. doi:10.1109/ANDESCON50619.2020.9272052</p>
  <p>Fujita, T. (2018). Tomoya Fujita R&D center Sony Corporation - roscon.ros.org. Retrieved November 3, 2022, from https://roscon.ros.org/2018/presentations/ROSCon2018_Aibo.pdf</p>
  <p>Gerkey, B. (2014, September 1). Ros running on ISS. Retrieved November 3, 2022, from https://www.ros.org/news/2014/09/ros-running-on-iss.html</p>
  <p>Global Robot Operating System Market Research Report 2022(status and outlook). (2022, June 29). Retrieved November 3, 2022, from https://www.marketreportsworld.com/global-robot-operating-system-market-21185690</p>
  <p>Guerry, M., Müller, C., Kraus, W., & Bieller, S. (2021, October 28). IFR International Federation of Robotics. Retrieved November 3, 2022, from https://ifr.org/downloads/press2018/2021_10_28_WR_PK_Presentation_long_version.pdf</p>
  <p>Lunar Rover. (2021). Retrieved November 3, 2022, from https://www.openrobotics.org/customer-stories/lunar-rover</p>
  <p>Robot Operating System Market. (2022, August). Retrieved November 3, 2022, from https://www.futuremarketinsights.com/reports/robot-operating-system-market</p>
  <p>Robot operating system. (n.d.). Retrieved November 3, 2022, from https://www.ros.org/</p>
  <p>Wessling, B. (2022, February 11). Open robotics developing space ROS with Blue Origin, NASA. Retrieved November 3, 2022, from https://www.therobotreport.com/open-robotics-developing-space-ros/</p>


  <hr>
  <h2>Competition Links</h2>
    <ol>
        <li><a href="https://www.jetbrains.com/clion/">CLion IDE</a></li>
        <li><a href="https://plugins.jetbrains.com/plugin/10290-hatchery">Clion Hatchery</a></li>
        <li><a href="https://plugins.jetbrains.com/plugin/11235-ros-support">Clion ROS Support</a></li>
        <li><a href="https://code.visualstudio.com/">VS Code</a></li>
        <li><a href="https://github.com/ros-industrial/ros_qtc_plugin/blob/devel/gh_pages/index.rst">QT Creator w/ROS</a></li>
        <li><a href="http://wiki.ros.org/rosemacs">Emacs w/ Rosemacs</a></li>
        <li><a href="https://github.com/taketwo/vim-ros">Vim w/ vim-ros</a></li>
        <li><a href="https://github.com/tmux/tmux">TMUX</a></li>
        <li><a href="https://www.gnu.org/software/screen/">GNU Screen</a></li>
        <li><a href="https://github.com/gnome-terminator/terminator">Terminator</a></li>
      </ol>
</div>
-->
