<div class="container">

  <div class="references-page-header">
    References
    <hr style="margin-top:80px">
  </div>
  <h2>Citations</h2>
  <p>"Software Design Report for the ODU Monarch I", Version 1.3, Jul 8, 2022, page 3. Author Lee Belfore</p>
  <p>ROS:  https://www.ros.org/</p>
  <p>ROS Current market value: https://www.marketreportsworld.com/global-robot-operating-system-market-21185690</p>
  <p>ROS Projected market value: https://www.futuremarketinsights.com/reports/robot-operating-system-market</p>
  <p>ROS & NASA: https://www.openrobotics.org/customer-stories/lunar-rover</p>
  <p>ROS & NASA: https://www.therobotreport.com/open-robotics-developing-space-ros/</p>
  <p>ROS & Microsoft : https://spectrum.ieee.org/microsoft-announces-experimental-release-of-ros-for-windows-10</p>
  <p>ROS & SONY : https://roscon.ros.org/2018/presentations/ROSCon2018_Aibo.pdf</p>
  <p>ROS & NASA : https://www.ros.org/news/2014/09/ros-running-on-iss.html</p>
  <p>M. Cardona, A. Palma and J. Manzanares, "COVID-19 Pandemic Impact on Mobile Robotics Market," 2020 IEEE ANDESCON, 2020, pp. 1-4, doi: 10.1109/ANDESCON50619.2020.9272052. https://ieeexplore.ieee.org/abstract/document/9272052</p>
  <p>International Federation of Robotics. Annual installations of industrial robots 2019-2020 and 2021*-2024* [Graph]. Retrieved from https://ifr.org/downloads/press2018/2021_10_28_WR_PK_Presentation_long_version.pdf</p>

  <hr>
  <h2>Links</h2>
    <ol>
        <li><a href="https://www.jetbrains.com/clion/">CLion IDE</a></li>
        <li><a href="https://plugins.jetbrains.com/plugin/10290-hatchery">Clion Hatchery</a></li>
        <li><a href="https://plugins.jetbrains.com/plugin/11235-ros-support">Clion ROS Support</a></li>
        <li><a href="https://code.visualstudio.com/">VS Code</a></li>
        <li><a href="https://github.com/ros-industrial/ros_qtc_plugin/blob/devel/gh_pages/index.rst">QT Creator w/ROS</a></li>
        <li><a href="http://wiki.ros.org/rosemacs">Emacs w/ Rosemacs</a></li>
        <li><a href="https://github.com/taketwo/vim-ros">Vim w/ vim-ros</a></li>
        <li><a href="https://github.com/tmux/tmux">TMUX</a></li>
        <li><a href="https://www.gnu.org/software/screen/">GNU Screen</a></li>
        <li><a href="https://github.com/gnome-terminator/terminator">Terminator</a></li>
      </ol>
</div>
