<div class="container">

  <div class="team-page-header">
    Presentations
    <hr style="margin-top:80px">
  </div>

  <div class="deliverable-page-header" #op>
    Original Presentation
  </div>

  <div style="width: 100%;text-align: center;">
    <iframe src="assets/files/IGCVReport.pdf" class="flow-chart-img"></iframe>
  </div>

  <div class="deliverable-page-header" #f1>
    Feasibility
    <p style="font-size:18px"><a href="assets/files/feasibility.pdf" download>Download PDF</a></p>
  </div>

  <div style="width: 100%;text-align: center;">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQOz6elUfa056JTFriH_8myJDe8KTk2W3VZCntnkedGQJ-VJf3G8m3hvpI2CNFNcPV-DQ7i5-ZV5ct7/embed?start=false&loop=false&delayms=10000"
     frameborder="0" class="flow-chart-img" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

  <div class="deliverable-page-header" #d>
    Design
    <p style="font-size:18px"><a href="assets/files/design.pdf" download>Download PDF</a></p>
  </div>

  <div style="width: 100%;text-align: center;">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQLezwMKLEIPEUbA1GsARaZ4B5uCaDTGJwiHTjKj0iaxz3c-OUFZSLS4fLQ8jpfBvUPBt0RPbuZX1ZK/embed?start=false&loop=false&delayms=10000"
    frameborder="0" class="flow-chart-img" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>


  <div class="deliverable-page-header" #pt>
    Prototype
    <p style="font-size:18px"><a href="assets/files/prototype.pdf" download>Download PDF</a></p>
  </div>

  <div style="width: 100%;text-align: center;">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT0t0vmQKsmkhZsiJ_2xqytS7EiwYHvtEldUIzbpplvcoNnHrxsscAU0HgnR4NFI4-gk9j7hYM_chez/embed?start=false&loop=false&delayms=10000"
    frameborder="0" class="flow-chart-img" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

</div>
