<div class="container">

  <div class="solution-page-header">
      User Stories
    <hr class="hr_margin">
  </div>

  <!--<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRwKZ3QWK3BcPhxZwVJv6niLpwvbSZKCJ5RWEOyuTk54T9SqSrROqWvTtWkY5hWsrMrGmHRfiqEnQ9X/pubhtml?widget=true&amp;headers=false" class="flow-chart-img"></iframe>-->


  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTCg7C_mSRmttgBYMFYdeEeJNxq7LTkOTwJZyMtEUPFZIyMSEmTVvX4uDpAD5N6D7gwjAeaTXnCMrE0/pubhtml?gid=1397019678&amp;single=true&amp;widget=true&amp;headers=false" class="flow-chart-img"></iframe>

  <!--
  <div class="deliverable-page-header" #f1>
    Design User Stories
  </div>
  <div style="width: 100%;text-align: center;">
    <a href="assets/images/designstories.jpg">
      <img class="flow-chart-img" src="assets/images/designstories.jpg" style="background-color: white;">
    </a>
  </div>

  <div class="deliverable-page-header" #f1>
    Prototype User Stories
  </div>
  <div style="width: 100%;text-align: center;">
    <a href="assets/images/prototypestories.jpg">
      <img class="flow-chart-img" src="assets/images/prototypestories.jpg" style="background-color: white;">
    </a>
  </div>

  <div class="deliverable-page-header" #f1>
    Tester User Stories
  </div>
  <div style="width: 100%;text-align: center;">
    <a href="assets/images/testerstories.jpg">
      <img class="flow-chart-img" src="assets/images/testerstories.jpg" style="background-color: white;">
    </a>
  </div>
  -->

</div>
