<div class="container">

  <div class="solution-page-header">
      User Stories
    <hr style="margin-top:80px">
  </div>

  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSqnEofaG2t9BTUaY8oD3uYwU-DT75vSJiIpLDEshEa-RXA9Tv_oakPtW1Icz65JjzpE43B1nC8ORiS/pubhtml?widget=true&amp;headers=false" class="flow-chart-img"></iframe>

  <!--
  <div class="user-stories">
    User Roles:
    <ul>
      <li>Developer</li>
    </ul>

    User Stories:
    <ul>
      <li>As a developer I need to be able to open, edit, and save text files</li>
      <li>As a developer I need to be able to run commands through an embedded terminal window</li>
      <li>As a developer I need to be able to open mutliple embedded terimal windows</li>
      <li>As a developer I would like to be able to name my terminal windows</li>
      <li>As a developer I would like my terminal windows to automatically name themselves</li>
      <li>As a developer I would like a view that displays visuals from ROS system cameras and/or radars</li>
      <li>As a developer I would like to easily create launch configs and launch files</li>
      <li>As a developer I would like a view with embedded ROS tools</li>

    </ul>

  </div>
  -->

</div>
