<div class="container">

  <div class="header-container">
    <div class="row">
      <div class="column statement-container">
        <p class="problem">
          Problem Statement:
        </p>
        <p class="problem-statement">
          ROS development contains high barriers of<br>entry for new developers and environments.



          <!--
          Robot Operating System (ROS) requires an<br>
          abundance of terminal windows for building robot <br>
          applications. Developing robotics applications is <br>
          inefficient with the absence of customizable
          <br>terminal window settings.
          -->
        </p>
        <!--<button mat-raised-button class="learn-more-btn">Learn More</button>-->
      </div>

      <img class="header-image" src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663554715/car-v4_egp0h4.png">
    </div>
  </div>


  <div class="row" style="margin: 50px auto; width: 70%">
    <img src="assets/images/terminals.png" style="width: 500px;height: fit-content;margin: auto;">

    <mat-card class="problem-characteristics-card">
      <mat-card-content>
      <div class="column">
        <p class="problem" style="text-align: center;">
          Problem Characteristics
        </p>
        <br>
          <ul class="problem-characteristics">
            <li>Each ROS node has at least one terminal window associated with it.<br>
              Best case scenario:          n Nodes = n Terminals
             </li>
            <br>
            <li>Terminal windows do not automatically have distinct attributes to easily identify one from another.</li>
            <br>
            <li>Navigating multiple windows can stall process flow.</li>
            <br>
            <li>There is no distinction when changes in one node affects a related node.</li>
            <br>
            <li>The ROS environment doesn't provide a GUI for folders, making it difficult to browse code.</li>
            <br>
            <li>Simple debugging methodologies become time consuming due to how ROS displays errors.</li>
            <br>
            <li>The combination these characteristics increase the already steep learning curve of ROS.</li>
          </ul>
        </div>
      </mat-card-content>
      </mat-card>


  </div>

</div>

