<div class="container">

  <div class="header-container">
    <div class="row">
      <div class="column statement-container">
        <p class="problem">
          Problem Statement:
        </p>
        <p class="problem-statement">
          Robot Operating System (ROS) requires an<br>
          abundance of terminal windows for building robot <br>
          applications. Developing robotics applications is <br>
          inefficient with the absence of customizable
          <br>terminal window settings.
        </p>
        <!--<button mat-raised-button class="learn-more-btn">Learn More</button>-->
      </div>

      <img class="header-image" src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663554715/car-v4_egp0h4.png">
    </div>
  </div>


  <div class="row" style="margin: 50px auto; width: 70%">
    <img src="assets/images/terminals.png" style="width: 500px;height: fit-content;margin: auto;">

    <mat-card class="problem-characteristics-card">
      <mat-card-content>
      <div class="column">
        <p class="problem" style="text-align: center;">
          Problem Characteristics
        </p>
        <br>
          <ul class="problem-characteristics">
            <li>Each node needs multiple terminals, sometimes leading to 30 plus windows open at once.</li>
            <br>
            <li>Terminal windows do not automatically have distinct attributes to easily identify one from another.</li>
            <br>
            <li>Navigating multiple windows can stall process flow.</li>
            <br>
            <li>Programming on x+1 terminals, with no distinction of where an input creates an output, is time consuming.</li>
          </ul>
        </div>
      </mat-card-content>
      </mat-card>


  </div>

</div>

