.container{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.header-container{
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to right, orange , white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.header-image{
  width: 350px;
  height: fit-content;
}

.row{
  display:flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.problem-statement{
  font-size: 30px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 10px;
  line-height: 30px;
  color: #202020;
}

.problem{
  font-size: 42px;
  line-height: 42px;
  font-weight: bold;
  color: #202020;
  margin: 0px;
}

.statement-container{
  margin-top: 215px;
  margin-right: 50px;
}

.learn-more-btn{
  margin: 10px auto;
  width: 150px;
  height: 60px;
  font-size: 18px;
}

.problem-characteristics-card{
}

.problem-characteristics{
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #202020;
  margin: 0px 0px 10px 0px;
}

.bottom-container{
  margin: 50px auto;
  width: 70%
}

@media only screen and (max-width: 800px) {
  .header-image{
    width: 150px;
    height: auto;
  }

  .statement-container{
    margin-top: unset;
    margin-right:unset;
  }

  .problem{
    font-size: 26px;
    margin-left: 10px;
  }

  .problem-statement{
    font-size: 18px;
  }

  .header-container{
    height: 350px;
  }

  .terminals{
    display: none;
  }

  .bottom-container{
    width: 95%;
    margin-top: 10px;
  }

  .problem-characteristics{
    font-size: 16px;
  }
}
