<div class="container">

  <div class="header-container">
    <div class="row">
      <div class="column statement-container">
        <p class="problem">
          THE PROBLEM:
        </p>
        <p class="problem-statement">
          Managing, developing, and debugging in a <br>ROS environment is cumbersome.
        </p>
        <button mat-raised-button class="learn-more-btn">Learn More</button>
      </div>

      <img class="header-image" src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663554715/car-v4_egp0h4.png">
    </div>
  </div>


</div>

