<div class="container">

  <div class="team-page-header">
    Labs
    <hr style="margin-top:80px">
  </div>

  <div class="deliverable-page-header">
    Collaborative Outline
  </div>

  <div style="width: 100%;text-align: center;">
    <iframe src="assets/files/CollabOutline.pdf" class="flow-chart-img"></iframe>
  </div>


  <div class="deliverable-page-header">
    Individual Labs
  </div>
  <div style="width: 70%;text-align: center; margin: 0 auto;">
    <hr style="margin-top: 25px; margin-bottom: 25px;">
    <h2>Joshua Peterson</h2>
    <a href="assets/files/jpLab1Draft.pdf"><button mat-raised-button>View Lab 1 Draft</button></a>
    <hr style="margin-top: 25px;margin-bottom: 25px;">

    <h2>Dan Koontz</h2>
    <a><button mat-raised-button>View Lab 1 Draft</button></a>
    <hr style="margin-top: 25px;margin-bottom: 25px;">

    <h2>Dominic Soos</h2>
    <a><button mat-raised-button>View Lab 1 Draft</button></a>
    <hr style="margin-top: 25px;margin-bottom: 25px;">

    <h2>Gavin St. Clair</h2>
    <a><button mat-raised-button>View Lab 1 Draft</button></a>
    <hr style="margin-top: 25px;margin-bottom: 25px;">

    <h2>Justin Tymkin</h2>
    <a href="assets/files/jtLab1Draft.pdf"><button mat-raised-button>View Lab 1 Draft</button></a>
    <hr style="margin-top: 25px;margin-bottom: 25px;">
  </div>

</div>
