<div class="container">

  <div class="team-page-header">
    Labs
    <!--<hr style="margin-top:80px">-->
  </div>
  <br>
  <br>

  <!--
  <div class="deliverable-page-header">
    Collaborative Outline
  </div>
  -->



  <mat-tab-group>
    <mat-tab label="Lab 1 - Collaborative Outline">

      <div style="width: 99%;text-align: center;margin-top: 5px;">
        <iframe src="assets/files/CollabOutline.pdf" class="flow-chart-img"></iframe>
      </div>
    </mat-tab>
    <mat-tab label="Lab 2 - Section 3 Outline">
      <div style="width: 99%;text-align: center;margin-top: 5px">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vSRc1qc5nEKnO2QWTpb8RibN4iEOXrUttN4mBLk-NEQ-wo5uG801NNK2zZVkjohTfwRDYMc7-ee5zxK/pub?embedded=true" class="flow-chart-img-dyn"></iframe>
      </div>
    </mat-tab>
        <mat-tab label="Lab 2 - Sections 1 & 2 Outline">
      <div style="width: 99%;text-align: center;margin-top: 5px">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vR7ajWTJ_3xXpu0pgApcUH-RB7J24UTRQm6qTauFi1xTE1auFUJHF0caxbQoOMImptecXCugRp286Ze/pub?embedded=true" class="flow-chart-img-dyn"></iframe>
      </div>
    </mat-tab>
  </mat-tab-group>




  <div class="deliverable-page-header">
    Individual Labs
  </div>
  <div>

    <div class="row bio-card-row">
      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/josh.JPG" alt="Joshua Peterson">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Joshua Peterson's <br>Labs</h2>

          <a href="assets/files/jpLab1Draft.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Draft</button></a>
          <a href="assets/files/jpLab1.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Version 1</button></a>

        </mat-card-content>
      </mat-card>

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/dom.jpeg" alt="Dominik Soos">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dominik Soos's <br>Labs</h2>

          <a href="assets/files/dsLab1Draft.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Draft</button></a>
          <a href="assets/files/dsLab1.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Version 1</button></a>

        </mat-card-content>
      </mat-card>

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/dan.jpg" alt="Dan Koontz">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dan Koontz's <br>Labs</h2>

          <a href="assets/files/dkLab1Draft.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Draft</button></a>
          <a href="assets/files/dkLab1.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Version 1</button></a>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="row bio-card-row">

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/gavin.jpg" alt="Gavin St. Clair">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Gavin St. Clair's <br>Labs</h2>

          <a href="assets/files/gscLab1Draft.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Draft</button></a>
          <a href="assets/files/gscLab1.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Version 1</button></a>
        </mat-card-content>
      </mat-card>

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/justin.jpg">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Justin Tymkin's <br>Labs</h2>
          <a href="assets/files/jtLab1Draft.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Draft</button></a>
          <a href="assets/files/jtLab1.pdf" target="_blank"><button class="contact-button" mat-raised-button color="primary">View Lab 1 - Version 1</button></a>
        </mat-card-content>
      </mat-card>

    </div>

</div>
