<div class="container">

  <div class="team-page-header">
    Labs
    <!--<hr style="margin-top:80px">-->
  </div>
  <br>
  <br>

  <!--
  <div class="deliverable-page-header">
    Collaborative Outline
  </div>
  -->
  <div class="collab-links">
    <p style="text-align: center;font-size:18px"><a href="https://docs.google.com/document/d/e/2PACX-1vSJO849VTB-y7-LPt1KN8TbXwJIlrSl5Soy-1JA7RCvnnzSZdqpYstNWzgYXoFrrUu1EMMA_Ht1QlQf/pub" >Lab 1 - Collaborative Outline</a></p>
    <p style="text-align: center;font-size:18px"><a href="https://docs.google.com/document/d/e/2PACX-1vQ10_NU-t27XwmXEINVn-pfIwYpNlFunsfukXYyfGwkDlsC2dW2ODju1dTlWEJLnLE5pJOqgcIFJioD/pub?embedded=true" >Lab 2 - Section 3 Outline</a></p>
    <p style="text-align: center;font-size:18px"><a href="https://docs.google.com/document/d/e/2PACX-1vR7ajWTJ_3xXpu0pgApcUH-RB7J24UTRQm6qTauFi1xTE1auFUJHF0caxbQoOMImptecXCugRp286Ze/pub?embedded=true" >Lab 2 - Sections 1 & 2 Outline</a></p>
    <p style="text-align: center;font-size:18px"><a href="https://docs.google.com/document/d/e/2PACX-1vTbLE0ecGTSbyxfer6gf-FaoEG6rAhWFb1Glur8DMi8jefiVn67bq82Cc7qYKO0llwAuSSn3oKXEP4m/pub" >Lab 3 - Prototype Test Cases (Collaborative)</a></p>
    <p style="text-align: center;font-size:18px"><a href="https://docs.google.com/document/d/e/2PACX-1vQwfngVpekuoJTqSH_hFL4HMQtE--rY8WKNBC4JC7Ushz2BTqAmgG_CR1Em3bcY4J3aJUNmWPTuL7vR/pub" >Lab 4 - User Manual (Collaborative)</a></p>
  </div>


  <mat-tab-group class="my-tab-grp">
    <mat-tab label="Lab 1 - Collaborative Outline">

      <div style="width: 99%;text-align: center;margin-top: 5px;">
        <iframe src="assets/files/CollabOutline.pdf" class="flow-chart-img"></iframe>
      </div>
    </mat-tab>
    <mat-tab label="Lab 2 - Section 3 Outline">
      <div style="width: 99%;text-align: center;margin-top: 5px">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vQ10_NU-t27XwmXEINVn-pfIwYpNlFunsfukXYyfGwkDlsC2dW2ODju1dTlWEJLnLE5pJOqgcIFJioD/pub?embedded=true" class="flow-chart-img-dyn"></iframe>
      </div>
    </mat-tab>
        <mat-tab label="Lab 2 - Sections 1 & 2 Outline">
      <div style="width: 99%;text-align: center;margin-top: 5px">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vR7ajWTJ_3xXpu0pgApcUH-RB7J24UTRQm6qTauFi1xTE1auFUJHF0caxbQoOMImptecXCugRp286Ze/pub?embedded=true" class="flow-chart-img-dyn"></iframe>
      </div>
    </mat-tab>
    <mat-tab label="Lab 3 - Prototype Test Cases (Collaborative)">
      <div style="width: 99%;text-align: center;margin-top: 5px">
        <iframe src="assets/files/lab3.pdf" class="flow-chart-img"></iframe>
      </div>
    </mat-tab>
    <mat-tab label="Lab 4 - User Manual (Collaborative)">
      <div style="width: 99%;text-align: center;margin-top: 5px">
        <iframe src="assets/files/lab4.pdf" class="flow-chart-img"></iframe>
      </div>
    </mat-tab>
  </mat-tab-group>




  <div class="deliverable-page-header">
    Individual Labs
  </div>
  <div>

    <div class="row bio-card-row">
      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/josh.JPG" alt="Joshua Peterson">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Joshua Peterson's <br>Labs</h2>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="jpLab1" class="contact-button">Lab 1</button>
          <mat-menu #jpLab1="matMenu" xPosition="before">

            <a href="assets/files/jpLab1Draft.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Draft</button></a>
            <a href="assets/files/jpLab1.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Version 1</button></a>
            <a href="assets/files/jpLab1F.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Final Version</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="jpLab2" class="contact-button">Lab 2</button>
          <mat-menu #jpLab2="matMenu" xPosition="before">

            <a href="assets/files/jpLab2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 1</button></a>
            <a href="assets/files/jpLab2v2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 2</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="jpLab3" class="contact-button">Lab 3</button>
          <mat-menu #jpLab3="matMenu" xPosition="before">

            <a href="assets/files/jpLab3.pdf" target="_blank"><button mat-menu-item>View Lab 3 - Version 1</button></a>
          </mat-menu>

        </mat-card-content>
      </mat-card>

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/dom.jpeg" alt="Dominik Soos">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dominik Soos's <br>Labs</h2>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="dsLab1" class="contact-button">Lab 1</button>
          <mat-menu #dsLab1="matMenu" xPosition="before">

            <a href="assets/files/dsLab1Draft.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Draft</button></a>
            <a href="assets/files/dsLab1.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Version 1</button></a>
            <a href="assets/files/dsLab1F.pdf"  target="_blank"><button mat-menu-item>View Lab 1 - Final Version</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="dsLab2" class="contact-button">Lab 2</button>
          <mat-menu #dsLab2="matMenu" xPosition="before">

            <a href="assets/files/dsLab2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 1</button></a>
            <a href="assets/files/dsLab2v2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 2</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="dsLab3" class="contact-button">Lab 3</button>
          <mat-menu #dsLab3="matMenu" xPosition="before">

            <a href="assets/files/dsLab3.pdf" target="_blank"><button mat-menu-item>View Lab 3 - Version 1</button></a>
          </mat-menu>

        </mat-card-content>
      </mat-card>

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/dan.jpg" alt="Dan Koontz">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dan Koontz's <br>Labs</h2>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="dkLab1" class="contact-button">Lab 1</button>
          <mat-menu #dkLab1="matMenu" xPosition="before">

            <a href="assets/files/dkLab1Draft.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Draft</button></a>
            <a href="assets/files/dkLab1.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Version 1</button></a>
            <a href="assets/files/dkLab1F.pdf"  target="_blank"><button mat-menu-item>View Lab 1 - Final Version</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="dkLab2" class="contact-button">Lab 2</button>
          <mat-menu #dkLab2="matMenu" xPosition="before">

            <a href="assets/files/dkLab2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 1</button></a>
            <a href="assets/files/dkLab2v2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 2</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="dkLab3" class="contact-button">Lab 3</button>
          <mat-menu #dkLab3="matMenu" xPosition="before">

            <a href="assets/files/dkLab3.pdf" target="_blank"><button mat-menu-item>View Lab 3 - Version 1</button></a>
          </mat-menu>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="row bio-card-row">

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/gavin.jpg" alt="Gavin St. Clair">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Gavin St. Clair's <br>Labs</h2>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="gscLab1" class="contact-button">Lab 1</button>
          <mat-menu #gscLab1="matMenu" xPosition="before">

            <a href="assets/files/gscLab1Draft.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Draft</button></a>
            <a href="assets/files/gscLab1.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Version 1</button></a>
            <a href="assets/files/gscLab1F.pdf"  target="_blank"><button mat-menu-item>View Lab 1 - Final Version</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="gscLab2" class="contact-button">Lab 2</button>
          <mat-menu #gscLab2="matMenu" xPosition="before">

            <a href="assets/files/gscLab2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 1</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="gscLab3" class="contact-button">Lab 3</button>
          <mat-menu #gscLab3="matMenu" xPosition="before">

            <a href="assets/files/gscLab3.pdf" target="_blank"><button mat-menu-item>View Lab 3 - Version 1</button></a>
          </mat-menu>

        </mat-card-content>
      </mat-card>

      <mat-card class="bio-card">
        <img class="team-img" mat-card-image src="assets/images/justin.jpg">
        <mat-card-content style="text-align:center">
          <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Justin Tymkin's <br>Labs</h2>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="jtLab1" class="contact-button">Lab 1</button>
          <mat-menu #jtLab1="matMenu" xPosition="before">

            <a href="assets/files/jtLab1Draft.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Draft</button></a>
            <a href="assets/files/jtLab1.pdf" target="_blank"><button mat-menu-item>View Lab 1 - Version 1</button></a>
            <a href="assets/files/jtLab1Final.pdf"  target="_blank"><button mat-menu-item>View Lab 1 - Final Version</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="jtLab2" class="contact-button">Lab 2</button>
          <mat-menu #jtLab2="matMenu" xPosition="before">

            <a href="assets/files/jtLab2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 1</button></a>
            <a href="assets/files/jtLab2v2.pdf" target="_blank"><button mat-menu-item>View Lab 2 - Version 2</button></a>
          </mat-menu>

          <button mat-raised-button color="primary" [matMenuTriggerFor]="jtLab3" class="contact-button">Lab 3</button>
          <mat-menu #jtLab3="matMenu" xPosition="before">

            <a href="assets/files/jtLab3.pdf" target="_blank"><button mat-menu-item>View Lab 3 - Version 1</button></a>
          </mat-menu>


        </mat-card-content>
      </mat-card>

    </div>

</div>
