<div class="container">

  <div class="glossary-page-header">
    Glossary
    <hr style="margin-top:80px">
  </div>


  <div class="glossary-item">
    <div class="name">
      <p>ROS Node</p>
    </div>
    <div class="definition">
      <p>
        A node is a process that performs computation. Nodes are combined together
        and communicate with one another using streaming topics, RPC services, and
        the Parameter Server. These nodes are meant to operate at a fine-grained scale;
        a robot control system will usually comprise many nodes. For example, one node
        controls a laser range-finder, one Node controls the robot's wheel motors, one
        node performs localization, one node performs path planning, one node provides a
        graphical view of the system, and so on.
      </p>
   </div>
  </div>
  <hr>
  
  
  <div class="glossary-item">
  <div class="name">
    <p>ROS NODE</p>
  </div>
  <div class="definition">
    <p>
      A node is a process that performs computation. Nodes are combined together
      and communicate with one another using streaming topics, RPC services, and
      the Parameter Server. These nodes are meant to operate at a fine-grained scale;
      a robot control system will usually comprise many nodes. For example, one node
      controls a laser range-finder, one Node controls the robot's wheel motors, one
      node performs localization, one node performs path planning, one node provides a
      graphical view of the system, and so on.
    </p>
 </div>
</div>
<hr>
  
  <div class="glossary-item">
  <div class="name">
    <p>ROS Bag</p>
  </div>
  <div class="definition">
    <p>
      A bag is a file format in ROS for storing ROS message data. These bags have an important role in ROS
      , and a variety of tools have been written to allow you to store, process, analyze, and visualize them. 
      Bags are the primary mechanism in ROS for data logging, which means that they have a variety of offline uses.
    </p>
 </div>
</div>
<hr>



</div>



<!-- USE THIS AS A GLOSSARY ITEM TEMPLATE. Paste the whole thing and replace the name and definition.


<div class="glossary-item">
  <div class="name">
    <p>ROS NODE</p>
  </div>
  <div class="definition">
    <p>
      A node is a process that performs computation. Nodes are combined together
      and communicate with one another using streaming topics, RPC services, and
      the Parameter Server. These nodes are meant to operate at a fine-grained scale;
      a robot control system will usually comprise many nodes. For example, one node
      controls a laser range-finder, one Node controls the robot's wheel motors, one
      node performs localization, one node performs path planning, one node provides a
      graphical view of the system, and so on.
    </p>
 </div>
</div>
<hr>


-->
