<div class="container">

  <div class="team-page-header">
    Deliverables
    <hr style="margin-top:80px">
  </div>

  <div class="deliverable-page-header" #cpf>
    Current Process Flow
  </div>

  <div style="width: 100%;text-align: center;position: relative;">
    <img class="flow-chart-img" src="assets/images/currentflow.png" style="background-color: white;">
    <button mat-button (click)="openDialog()" class="dialog-btn"></button>
  </div>

  <div class="deliverable-page-header" #spf>
    Solution Process Flow
  </div>

  <div style="width: 100%;text-align: center;">
    <img class="flow-chart-img" src="assets/images/SolutionFlow.png">
  </div>

  <div class="deliverable-page-header" #cm>
    Competition Matrix
  </div>

  <div style="width: 100%;text-align: center;">
    <img class="flow-chart-img" src="assets/images/CompMatrix.JPG">
  </div>

  <div class="deliverable-page-header" #mfcd>
    Major Functional Component Diagram
  </div>

  <div style="width: 100%;text-align: center;">
    <img class="flow-chart-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1362px-Placeholder_view_vector.svg.png?20220519031949">
  </div>

</div>
