<div class="container">

  <div class="team-page-header">
    Deliverables
    <hr style="margin-top:80px">
  </div>

  <div class="deliverable-page-header" #cpf>
    Current Process Flow
  </div>

  <div style="width: 100%;text-align: center;position: relative;">
    <a href="assets/images/designCurrentProcess.jpg">
      <img class="flow-chart-img" src="assets/images/designCurrentProcess.jpg" style="background-color: white;" (load)="onImageLoad('cpf')">
    </a>
  </div>


  <div class="deliverable-page-header">
    Current Developer Interface
  </div>

  <div style="width: 100%;text-align: center;position: relative;">
    <a href="assets/images/currentFlowv2.png">
      <img class="flow-chart-img" src="assets/images/currentFlowv2.png" style="background-color: white;">
    </a>
    <button mat-button (click)="openDialog()" class="dialog-btn"></button>
  </div>

  <div class="deliverable-page-header" #spf>
    Solution Developer Environment Workflow
  </div>
  <div style="width: 100%;text-align: center;">
    <a href="assets/images/designSolution.jpg">
      <img class="flow-chart-img" src="assets/images/designSolution.jpg" (load)="onImageLoad('spf')">
    </a>
  </div>


  <div class="deliverable-page-header" #ft>
    Features Table
  </div>
  <div style="width: 100%;text-align: center;">
    <a href="assets/images/featurestable.jpg">
      <img class="flow-chart-img" src="assets/images/featurestable.jpg" (load)="onImageLoad('ft')">
    </a>
  </div>


  <div class="deliverable-page-header" #cm>
    Competition Matrices
  </div>
  <div style="width: 100%;text-align: center;">
    <a href="assets/images/CompMatrix.jpg">
      <img class="flow-chart-img" src="assets/images/CompMatrix.jpg" (load)="onImageLoad('cm')">
    </a>
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVPMz_F0M=/?moveToViewport=960,-44,4332,2043&embedId=432391135364" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
  </div>

  <div class="deliverable-page-header" #mfcd>
    Major Functional Component Diagram
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVPPiyrK8=/?moveToViewport=-1084,-1245,3297,1646&embedId=199095939636" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <a href="assets/images/mfcd.jpg">
      <img class="flow-chart-img" src="assets/images/mfcd.jpg" (load)="onImageLoad('mfcd')">
    </a>
  </div>


  <div class="deliverable-page-header" #wbs>
    Work Breakdown Structure
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVP_GeioQ=/?moveToViewport=-748,-343,1373,1337&embedId=179407735999" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <a href="assets/images/wbs.jpg">
      <img class="flow-chart-img" src="assets/images/wbs.jpg" (load)="onImageLoad('wbs')">
    </a>
  </div>


  <div class="deliverable-page-header" #apis>
    External Sources/Api's
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVP_GeioQ=/?moveToViewport=-748,-343,1373,1337&embedId=179407735999" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <a href="assets/images/apis.jpg">
      <img class="flow-chart-img" src="assets/images/apis.jpg" (load)="onImageLoad('apis')">
    </a>
  </div>

  <div class="deliverable-page-header" #ui>
    UI Flow Diagram
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVP_GeioQ=/?moveToViewport=-748,-343,1373,1337&embedId=179407735999" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <a href="assets/images/uiflow.jpg">
      <img class="flow-chart-img" src="assets/images/uiflow.jpg" (load)="onImageLoad('ui')">
    </a>
  </div>

  <div class="deliverable-page-header" #algo>
    Algorithms
  </div>
  <div style="width:100%;text-align:center;">
    <a href="assets/images/algo.jpg">
      <img class="flow-chart-img" src="assets/images/algo.jpg" (load)="onImageLoad('algo')">
    </a>
  </div>

  <div class="deliverable-page-header" #rd>
    Relational Diagram
  </div>
  <div style="width:100%;text-align:center;">
    <a href="assets/images/UsageAnalytics.jpg">
      <img class="flow-chart-img" src="assets/images/UsageAnalytics.jpg" (load)="onImageLoad('rd')">
    </a>
  </div>


  <div class="deliverable-page-header" #rm>
    Risk Matrices
  </div>
  <div style="width:100%;text-align:center;">
    <a href="assets/images/risk.jpg">
      <img class="flow-chart-img" src="assets/images/risk.jpg" (load)="onImageLoad('rm')">
    </a>
  </div>

  <div class="deliverable-page-header" #sp>
    Prototype Sprint Plan
  </div>
  <div style="width:100%;text-align:center;">
    <a href="assets/images/sprintplan.jpg">
      <img class="flow-chart-img" src="assets/images/sprintplan.jpg" (load)="onImageLoad('sp')">
    </a>
  </div>

</div>
