<div class="container">

  <div class="team-page-header">
    Deliverables
    <hr style="margin-top:80px">
  </div>

  <div class="deliverable-page-header" #cpf>
    Current Process Flow
  </div>

  <div style="width: 100%;text-align: center;position: relative;">
    <img class="flow-chart-img" src="assets/images/designCurrentProcess.jpg" style="background-color: white;">
  </div>


  <div class="deliverable-page-header">
    Current Developer Interface
  </div>

  <div style="width: 100%;text-align: center;position: relative;">
    <img class="flow-chart-img" src="assets/images/currentFlowv2.png" style="background-color: white;">
    <button mat-button (click)="openDialog()" class="dialog-btn"></button>
  </div>

  <div class="deliverable-page-header" #spf>
    Solution Developer Environment Workflow
  </div>
  <div style="width: 100%;text-align: center;">
    <img class="flow-chart-img" src="assets/images/designSolution.jpg">
  </div>


  <div class="deliverable-page-header" #ft>
    Features Table
  </div>
  <div style="width: 100%;text-align: center;">
    <img class="flow-chart-img" src="assets/images/featurestable.jpg">
  </div>


  <div class="deliverable-page-header" #cm>
    Competition Matrices
  </div>
  <div style="width: 100%;text-align: center;">
    <img class="flow-chart-img" src="assets/images/CompMatrix.jpg">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVPMz_F0M=/?moveToViewport=960,-44,4332,2043&embedId=432391135364" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
  </div>

  <div class="deliverable-page-header" #mfcd>
    Major Functional Component Diagram
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVPPiyrK8=/?moveToViewport=-1084,-1245,3297,1646&embedId=199095939636" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <img class="flow-chart-img" src="assets/images/mfcd.jpg">
  </div>


  <div class="deliverable-page-header" #wbs>
    Work Breakdown Structure
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVP_GeioQ=/?moveToViewport=-748,-343,1373,1337&embedId=179407735999" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <img class="flow-chart-img" src="assets/images/wbs.jpg">
  </div>


  <div class="deliverable-page-header" #apis>
    External Sources/Api's
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVP_GeioQ=/?moveToViewport=-748,-343,1373,1337&embedId=179407735999" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <img class="flow-chart-img" src="assets/images/apis.jpg">
  </div>

  <div class="deliverable-page-header" #ui>
    UI Flow Diagram
  </div>
  <div style="width: 100%;text-align: center;">
    <!--<iframe class="flow-chart-img" height="650" src="https://miro.com/app/live-embed/uXjVP_GeioQ=/?moveToViewport=-748,-343,1373,1337&embedId=179407735999" scrolling="no" allowfullscreen frameborder="0"></iframe>-->
    <img class="flow-chart-img" src="assets/images/uiflow.jpg">
  </div>

  <div class="deliverable-page-header" #algo>
    Algorithms
  </div>
  <div style="width:100%;text-align:center;">
    <img class="flow-chart-img" src="assets/images/algo.jpg">
  </div>

  <div class="deliverable-page-header" #rd>
    Relational Diagram
  </div>
  <div style="width:100%;text-align:center;">
    <img class="flow-chart-img" src="assets/images/UsageAnalytics.jpg">
  </div>


  <div class="deliverable-page-header" #rm>
    Risk Matrices
  </div>
  <div style="width:100%;text-align:center;">
    <img class="flow-chart-img" src="assets/images/risk.jpg">
  </div>

</div>
