.container{
  position: relative;
  width: 70%;
  margin: 0px auto;
  padding-bottom: 100px;
}

.deliverable-page-header{
  text-align: center;
  margin: 50px 0px 20px 0px;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.flow-chart-img{
  width: 90%;
}

.team-page-header{
  text-align: center;
  margin-top: 80px;
  font-size: 60px;
  font-weight: bold;
}

.dialog-btn{
  position: absolute;
  top: 47%;
  left: 62%;
  padding: 8.7% 6%;
  cursor: pointer;
  border-radius: 5px;
}

.dialog-btn:hover{
  border: 2px solid #3d3d3d;
}
