<div class="container">

  <div class="team-page-header">
    Our Team
    <hr style="margin-top:80px">
  </div>

  <div class="row bio-card-row">
    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663826774/asdadadadadae_zrkbq8.jpg">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Joshua Peterson</h2>
        <h3 style="text-align: center; font-weight: bold;">Researcher</h3>
        <p style="text-align: center;">
          Josh is an undergraduate at Old Dominion University majoring in computer science with plans to graduate in Spring 2023.
          He currently works as a software engineer intern at Huntington Ingalls Industries where he is evolved in full-stack web application
          development. In his free time, he enjoys working on side projects(web applications), playing video games, and reading/learning about philosophy and psychology.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663881433/Portrait_placeholder_ghtbq5.png">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dan Koontz</h2>
        <h3 style="text-align: center; font-weight: bold;">Researcher</h3>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus pulvinar ante ac mollis. Mauris sed sollicitudin lorem. Curabitur ut tristique nisl.
          Morbi in nulla auctor, porttitor nulla in, vulputate enim. Aliquam vitae mauris dignissim, efficitur est ac, pretium eros. Pellentesque risus sapien, feugiat in sollicitudin ac, cursus at felis.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663881433/Portrait_placeholder_ghtbq5.png">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">James Hart</h2>
        <h3 style="text-align: center; font-weight: bold;">Researcher</h3>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus pulvinar ante ac mollis. Mauris sed sollicitudin lorem. Curabitur ut tristique nisl.
          Morbi in nulla auctor, porttitor nulla in, vulputate enim. Aliquam vitae mauris dignissim, efficitur est ac, pretium eros. Pellentesque risus sapien, feugiat in sollicitudin ac, cursus at felis.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row bio-card-row">
    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663881433/Portrait_placeholder_ghtbq5.png">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dominik Soos</h2>
        <h3 style="text-align: center; font-weight: bold;">Researcher</h3>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus pulvinar ante ac mollis. Mauris sed sollicitudin lorem. Curabitur ut tristique nisl.
          Morbi in nulla auctor, porttitor nulla in, vulputate enim. Aliquam vitae mauris dignissim, efficitur est ac, pretium eros. Pellentesque risus sapien, feugiat in sollicitudin ac, cursus at felis.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663881433/Portrait_placeholder_ghtbq5.png">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Gavin St. Clair</h2>
        <h3 style="text-align: center; font-weight: bold;">Researcher</h3>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus pulvinar ante ac mollis. Mauris sed sollicitudin lorem. Curabitur ut tristique nisl.
          Morbi in nulla auctor, porttitor nulla in, vulputate enim. Aliquam vitae mauris dignissim, efficitur est ac, pretium eros. Pellentesque risus sapien, feugiat in sollicitudin ac, cursus at felis.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663881433/Portrait_placeholder_ghtbq5.png">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Justin Tymkin</h2>
        <h3 style="text-align: center; font-weight: bold;">Researcher</h3>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus pulvinar ante ac mollis. Mauris sed sollicitudin lorem. Curabitur ut tristique nisl.
          Morbi in nulla auctor, porttitor nulla in, vulputate enim. Aliquam vitae mauris dignissim, efficitur est ac, pretium eros. Pellentesque risus sapien, feugiat in sollicitudin ac, cursus at felis.
        </p>
      </mat-card-content>
    </mat-card>
  </div>


</div>
