<div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/josh.JPG" alt="Josh" style="width:80%">
        <div class="container">
          <h2>Joshua Peterson</h2>
          <p class="title">Undergraduate Researcher</p>
          <p>Joshua is an undergraduate at Old Dominion University majoring in computer science with plans to graduate in Spring 2023. He currently works as a software engineer intern at Huntington Ingalls Industries where he is evolved in full-stack web application development. In his free time, he enjoys working on side projects(web applications), playing video games, and reading/learning about philosophy and psychology.</p>
          <p>jpete020@odu.edu</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="https://static.hudl.com/users/prod/9795364_a92e91962a99436093575eeeef53f0b8.jpg" alt="Dom" style="width:100%">
        <div class="container">
          <h2>Dominik Soós</h2>
          <p class="title">Undergraduate Researcher</p>
          <p>Dominik is a senior undergraduate at Old Dominion University majoring in computer science and minoring in math. He is a research assistant for data science and he plays football for the university. He recently published an article with his research group. In his free time, he loves being in nature, reading books and catching sunsets.</p>
          <p>dsoos001@odu.edu</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="img3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>James</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="img1.jpg" alt="Dan" style="width:100%">
        <div class="container">
          <h2>Dan</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="img2.jpg" alt="Justin" style="width:100%">
        <div class="container">
          <h2>Justin</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="img3.jpg" alt="Gavin" style="width:100%">
        <div class="container">
          <h2>Gavin</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
