<div class="container">

  <div class="team-page-header">
    Our Team
    <hr style="margin-top:80px">
  </div>

  <div class="row bio-card-row">

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663881433/Portrait_placeholder_ghtbq5.png">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dr. Belfore</h2>
        <h3 style="text-align: center; font-weight: bold;">Mentor</h3>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus pulvinar ante ac mollis.
        </p>
        <button class="contact-button" mat-raised-button matTooltip="lbelfore@odu.edu" onclick="location.href='mailto:lbelfore@odu.edu';">Contact</button>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="row bio-card-row">
    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="assets/images/josh.JPG" alt="Joshua Peterson">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Joshua Peterson</h2>
        <h3 style="text-align: center; font-weight: bold;">Undergraduate Researcher</h3>
        <p style="text-align: center;">
          Josh is an undergraduate at Old Dominion University majoring in computer science with plans to graduate in Spring 2023.
          He currently works as a software engineer intern at Huntington Ingalls Industries where he is envolved in full-stack web application
          development. In his free time, he enjoys working on side projects(web applications), playing video games, and reading/learning about philosophy and psychology.
        </p>

        <button class="contact-button" mat-raised-button matTooltip="jpete020@odu.edu" onclick="location.href='mailto:Jpete020@odu.edu';">Contact</button>

      </mat-card-content>
    </mat-card>

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="assets/images/dom.jpeg" alt="Dominik Soos">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dominik Soos</h2>
        <h3 style="text-align: center; font-weight: bold;">Undergraduate Researcher</h3>
        <p style="text-align: center;">
          Dominik is a senior undergraduate at Old Dominion University majoring in computer science and minoring in math. He is a research assistant for data science and he plays football
          for the university. He recently published an article with his research group. In his free time, he loves being in nature, reading books and catching sunsets.
        </p>

        <button class="contact-button" mat-raised-button matTooltip="dsoos001@odu.edu" onclick="location.href='mailto:dsoos001@odu.edu';">Contact</button>

      </mat-card-content>
    </mat-card>

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="assets/images/dan.jpg" alt="Dan Koontz">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Dan Koontz</h2>
        <h3 style="text-align: center; font-weight: bold;">Undergraduate Researcher</h3>
        <p style="text-align: center;">
          Daniel Koontz is an undergraduate Computer Science major at ODU. He recently interned with Amazon Global Robotics where he helped create a
          virtual andon tool. He enjoys music, strategy games, and his cat Patches.
        </p>
        <button class="contact-button" class="contact-button" mat-raised-button matTooltip="dkoon003@odu.edu" onclick="location.href='mailto:dkoon003@odu.edu';">Contact</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row bio-card-row">

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="assets/images/gavin.jpg" alt="Gavin St. Clair">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Gavin St. Clair</h2>
        <h3 style="text-align: center; font-weight: bold;">Undergraduate Researcher</h3>
        <p style="text-align: center;">
          Gavin St. Clair is an undergraduate Computer Science major at ODU. He is currently enlisted in the Marine Corps Reserves
          as a Tactical Data Systems Administrator. He enjoys going to the gym, reading, and playing video games in his free time.
        </p>
        <button class="contact-button"  mat-raised-button matTooltip="gstcl002@odu.edu" onclick="location.href='mailto:gstcl002@odu.edu';">Contact</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="assets/images/justin.jpg">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">Justin Tymkin</h2>
        <h3 style="text-align: center; font-weight: bold;">Undergraduate Researcher</h3>
        <p style="text-align: center;">
          Justin Tymkin is an undergraduate at ODU majoring in Computer Science, graduating in 2023. He works at your local Rite Aid,
          providing amazing customer service because "With Us Its Personal". In his free time he enjoys listening to music, watching sports, and playing video games.
        </p>
        <button class="contact-button" mat-raised-button matTooltip="jtymk001@odu.edu" onclick="location.href='mailto:jtymk001@odu.edu';">Contact</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="bio-card">
      <img class="team-img" mat-card-image src="https://res.cloudinary.com/dxsrwbiqy/image/upload/v1663881433/Portrait_placeholder_ghtbq5.png">
      <mat-card-content>
        <h2 style="margin-bottom:0px;text-align: center;font-weight: bold;">James Hart</h2>
        <h3 style="text-align: center; font-weight: bold;">Researcher</h3>
        <p style="text-align: center;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus pulvinar ante ac mollis. Mauris sed sollicitudin lorem. Curabitur ut tristique nisl.
          Morbi in nulla auctor, porttitor nulla in, vulputate enim. Aliquam vitae mauris dignissim, efficitur est ac, pretium eros. Pellentesque risus sapien, feugiat in sollicitudin ac, cursus at felis.
        </p>
        <button class="contact-button" mat-raised-button matTooltip="jhart048@odu.edu" onclick="location.href='mailto:jhart048@odu.edu';">Contact</button>
      </mat-card-content>
    </mat-card>
  </div>

</div>
