<div class="toolbar" role="banner">

  <div class="home-logo">Team Orange</div>

  <div class="spacer"></div>

  <div class="top-nav-button-container">
   <button class="top-nav-buttons" routerLink="" mat-button>Problem</button>
   <button class="top-nav-buttons" routerLink="solution" mat-button>Solution</button>
   <button class="top-nav-buttons" routerLink="team" mat-button>Team</button>
   <button mat-button [matMenuTriggerFor]="deliverables" class="top-nav-buttons">Deliverables<mat-icon>expand_more</mat-icon>
    <div class="dropdown-content">
    </div>
  </button>
   <mat-menu #deliverables="matMenu" xPosition="before">
     <button mat-menu-item routerLink="deliverables" [queryParams]="{param: 'cpf'}">Current Process Flow</button>
     <button mat-menu-item routerLink="deliverables" [queryParams]="{param: 'spf'}">Solution Process Flow</button>
     <button mat-menu-item routerLink="deliverables" [queryParams]="{param: 'cm'}">Competition Matrices</button>
     <button mat-menu-item routerLink="deliverables" [queryParams]="{param: 'mfcd'}">Major Functional Component Diagram</button>
     <button mat-menu-item routerLink="deliverables" [queryParams]="{param: 'wbs'}">Work Breakdown Structure</button>

   </mat-menu>
   <button mat-button [matMenuTriggerFor]="presentations" class="top-nav-buttons">Presentations<mat-icon>expand_more</mat-icon>
     <div class="dropdown-content">
     </div>
   </button>
   <mat-menu #presentations="matMenu" xPosition="before">
      <button mat-menu-item routerLink="presentations" [queryParams]="{param: 'op'}">Original Presentation</button>
      <button mat-menu-item routerLink="presentations" [queryParams]="{param: 'f1'}">Feasibility</button>
      <button mat-menu-item routerLink="presentations" [queryParams]="{param: 'd'}">Design</button>
  </mat-menu>
  <button class="top-nav-buttons" routerLink="userstories" mat-button>User Stories</button>
  <button class="top-nav-buttons" routerLink="labs" mat-button>Labs</button>

   <button class="top-nav-buttons" routerLink="refs" mat-button>References</button>
   <button class="top-nav-buttons" routerLink="glossary" mat-button>Glossary</button>
  </div>

</div>

<div style="width:100%;height:100px"></div>

<router-outlet></router-outlet>
